<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center;">Tabla Cutre (tengo sueño)</h1>

    <h4 style="text-align: center;" id="diff">Tiempo Null</h4>

    <table style="margin: 0 70px 0 70px; border: 1px solid;">
      <tbody>
        <tr>
          <th>idStream</th>
          <th>title</th>
          <th>date</th>
          <th>thumb</th>
          <th>duration</th>
        </tr>
      </tbody>
      <tbody>
        <% for (var c = 0; c < twitch.length; c ++) { %> <% var width = 30; var
        img = twitch[c].thumb%>
        <tr>
          <td><%= twitch[c].idStream%></td>
          <td style="color: red ;"><%= twitch[c].title%></td>
          <td><%= twitch[c].date.initDate%></td>
          <td>
            <img src=<%= img.replace("%{width}",352).replace("%{height}",240) %>
            />
          </td>
          <td><%= twitch[c].duration%></td>
        </tr>
        <%} %>
      </tbody>
    </table>
  </body>
  <script>
    var initDate = "<%- twitch.sort().pop().date.initDate %>";

    function timeDifference(date1, date2) {
      var difference = date1.getTime() - date2.getTime();

      var daysDifference = Math.floor(difference / 1000 / 60 / 60 / 24);
      difference -= daysDifference * 1000 * 60 * 60 * 24;

      var hoursDifference = Math.floor(difference / 1000 / 60 / 60);
      difference -= hoursDifference * 1000 * 60 * 60;

      var minutesDifference = Math.floor(difference / 1000 / 60);
      difference -= minutesDifference * 1000 * 60;

      var secondsDifference = Math.floor(difference / 1000);

      return (
        "Ultimo Directo: \n\n" +
        daysDifference +
        " Dia/s " +
        hoursDifference +
        " hora/s " +
        minutesDifference +
        " minuto/s y " +
        secondsDifference +
        " segundo/s "
      );
    }

    var dateUpdate = date => {
      var date2 = new Date(date);
      var date1 = new Date();

      var differenceDate = timeDifference(date1, date2);
      document.getElementById("diff").innerHTML = differenceDate;
    };

    setInterval(() => {
      dateUpdate(initDate);
    }, 1000);
  </script>
</html>
